{% extends "base.html" %}

{% block content %}

<script>
    $(document).ready(function () {
        $('#data').DataTable({
            ajax: '/api/reviews',
            pageLength: 25,
            columns: [
                {data: 'date'},
                {data: 'customer name'},
                {data: 'customer email'},
                {data: 'rating'},
                {data: 'feedback'}
            ],
        });
    });
</script>

<table id="data" class="display">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Email</th>
            <th scope="col">Rating</th>
            <th scope="col">Feedback</th>
        </tr>
    </thead>
</table>

{% endblock %}

